/*  
    Copyright 2024 HolyCorn Software
    The mantungunion Project
    This stylesheet works on the mantung-button
*/


.hc-mantungunion-button-content>.container {
    display: flex;
    gap: 0.75em;
    align-items: center;
}

.hc-mantungunion-button-content>.container>.icon>* {
    width: 1.5em !important;
    height: 1.5em !important;
    transition: 0.5s 0.125s;
}

.hc-action-button:hover .hc-mantungunion-button-content>.container>.icon>* {
    color: var(--color-primary-dark);
    filter: invert(0.9) brightness(1.5);
    transform: scale(1.4);
}